<h1>Điền Thông Tin Sản Phẩm</h1>
<!--<h2><a routerLink="/product/list">Home</a></h2>-->
<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="submit()" enctype="multipart/form-data">
    <table >
    <div class="mb-3">
      <label for="name" class="form-label">Tên sản phẩm</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="nameControl.touched && nameControl.invalid">
        <p style="color: red" *ngIf="nameControl.errors?.required">
          Vui lòng nhập tên sản phẩm
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Giá sản phẩm</label>
      <input type="text" class="form-control" id="price" formControlName="price">
      <div *ngIf="priceControl.touched && priceControl.invalid">
        <p style="color: red" *ngIf="priceControl.errors?.required">
          Vui lòng nhập giá sản phẩm
        </p>
        <p style="color: red" *ngIf="priceControl.errors?.pattern">
          Vui lòng chỉ nhập số.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input type="text" class="form-control" id="description" formControlName="description">
      <div *ngIf="descriptionControl.touched && descriptionControl.invalid">
        <p style="color: red" *ngIf="descriptionControl.errors?.required">
          Vui lòng nhập mô tả sản phẩm.
        </p>
      </div>
    </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" aria-describedby="emailHelp" formControlName="image"
               (change)="onSelectFile($event)" accept="image/**" multiple>
      </div>
      <!--     <div>-->
      <!--      <label class="image-upload-container btn btn-bwm">-->
      <!--        <span>Select Image</span>-->
      <!--        <input #imageInput-->
      <!--               type="file"-->
      <!--               accept="image/*"-->
      <!--               (change)="processFile(imageInput)">-->
      <!--      </label>-->
      <!--     </div>-->
    <div class="mb-3">
      <label for="category"> Thể loại </label> <br>
      <select  formControlName="category" id="category">
<!--        <option selected>&#45;&#45;choose&#45;&#45;</option>-->
        <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    </table>
  </form>
</div>












<!--<section class="content-header">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row mb-2">-->
<!--      <div class="col-sm-6">-->
<!--        <h1>Product Management</h1>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <ol class="breadcrumb float-sm-right">-->
<!--          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>-->
<!--          <li class="breadcrumb-item active">Add New Product</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</section>-->

<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<section class="content">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; left column &ndash;&gt;-->
<!--      <div class="col-md-12">-->
<!--        &lt;!&ndash; general form elements &ndash;&gt;-->
<!--        <div class="card card-primary">-->
<!--          <div class="card-header">-->
<!--            <h3 class="card-title">Add New Product</h3>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--          &lt;!&ndash; form start &ndash;&gt;-->
<!--          <form (ngSubmit)="createProductUsingReactiveForm()" [formGroup]="productForm">-->
<!--            <div class="card-body">-->
<!--              <div class="form-group">-->
<!--                <label for="name">Product name</label>-->
<!--                <input type="text" class="form-control" id="name"-->
<!--                       placeholder="Enter product name" formControlName="name">-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="price">Product price</label>-->
<!--                <input type="price" class="form-control" id="price"-->
<!--                       placeholder="Enter product price" formControlName="price">-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="description">Product description</label>-->
<!--                <input type="description" class="form-control" id="description"-->
<!--                       placeholder="Enter product price" formControlName="description">-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.card-body &ndash;&gt;-->

<!--            <div class="card-footer">-->
<!--              <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.card &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;/.col (left) &ndash;&gt;-->
<!--      &lt;!&ndash; right column &ndash;&gt;-->
<!--      &lt;!&ndash;/.col (right) &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /.row &ndash;&gt;-->
<!--  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash;Reactive Form&ndash;&gt;-->
